.footer {
    width: 100%;
    height: 10%;
    left: -21.02px;
    top: 6445px;
    background: #081382;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer__thumbnail{
    height: 50px;
}

.footer ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.footer ul li {
    display: flex;
    flex-direction: row;
    width: 20%;
}

.social__images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
}

.footer__text{
    margin-left: 20px;
    color: #ffffff;
}