.footer {
    width: 1535px;
    height: 172px;
    left: -21.02px;
    top: 6445px;
    background: #081382;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer ul {
    list-style-type: none;
}

.footer ul li {
    color: #ffffff;
}

.social__images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.social__images li{
    margin: 10px;
}