.hero__background {
    background-image: url('../images/hero.png');
    background-size: cover;
    height: 817px;
}

.hero__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    color: #FFFFFF;
    position: relative;
    left: -480px;
    top: 311px;
    margin-top: 20px;

}

.hero__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 169.2%;
    color: #FFFFFF;
    position: relative;
    width: 488px;
    height: 55px;
    left: 250px;
    top: 320px;
}

.hero__form {
    width:50%;
    height: 80px;
    background-color: #FFFFFF;
    position: relative;
    left: 18px;
    top: 350px;
    border-radius: 20px;
}

.hero__button {
    background: #081382;
    box-shadow: 0px 7px 17px rgba(9, 87, 203, 0.32);
    border-radius: 25px;
    position: relative;
    top:400px;
    right: 460px;
    width:50%;
    height:50px;
    
}

.hero__button__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 30%;
}
