.hero__background {
    background-image: url('../images/hero.png');
    background-size: cover;
    height: 817px;
}

.hero__text__container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.hero__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    width:812px;
    color: #FFFFFF;
    position: relative;
    margin-top: 40%;
    margin-bottom: 0;
    margin-left: 10%;

}

.hero__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 169.2%;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 10%;
}

.hero__form {
    width:80%;
    height: 80px;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 20px;
}

.hero__button {
    background: #081382;
    box-shadow: 0px 7px 17px rgba(9, 87, 203, 0.32);
    border-radius: 25px;
    position: relative;
    width:80%;
    height:50px;
    margin-top: 20px;
    
}

.hero__button__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 30%;
}

.arrow {
    position: absolute;
    left: 8.9%;
    right: 90.93%;
    top: 108%;
    background-color: #081382;
    padding: 20px;
    border-radius: 50%;
}
